
run = "cd apps/app && pnpm run build && pnpm run preview"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4173
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
