run = "cd apps/app && pnpm run dev"
modules = ["nodejs-20:v8-20230920-bd784b9"]

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[deployment]
build = "cd apps/app && pnpm install && pnpm run build"
run = "cd apps/app && pnpm run preview"
deploymentTarget = "cloudrun"

[nix]
channel = "stable-24_05"
